[Unit]
Description=Gunicorn daemon for Uniwatch
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/univatch/Uniwatch1

# Load environment variables from .env file
EnvironmentFile=/home/ubuntu/univatch/Uniwatch1/.env

ExecStart=/home/ubuntu/univatch/venv/bin/gunicorn \
    Uniwatch.wsgi:application \
    --bind unix:/run/gunicorn/univatch.sock \
    --workers 3 \
    --timeout 60 \
    --access-logfile /var/log/gunicorn/univatch-access.log \
    --error-logfile /var/log/gunicorn/univatch-error.log

ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RuntimeDirectory=gunicorn

[Install]
WantedBy=multi-user.target
